html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    /* prevent pull-to-refresh for Chrome 63+ */
    overscroll-behavior-y: none;
}

page {
	color: #222;
	background-color: #fff;
}

button[size='micro'] {
	display: inline-block;
    line-height: 2;
    font-size: 12px;
    padding: 0 1em;
}
button[type='buy'] {
	color: white;
	background-color: $red-color;
}
button[type='buy']:active {
	color: $button-active-text;
	background-color: $active-red-color;
}
button[type='buy'][disabled] {
	background-color: $disabled-red-color;
}
button[type='buy'][disabled]:active {
	background-color: $disabled-red-color;
}
.button-hover[type='buy'] {
	color: $button-active-text;
	background-color: $active-red-color;
}

button[type='sale'] {
	color: white;
	background-color: $green-color;
}
button[type='sale']:active {
	color: $button-active-text;
	background-color: $active-green-color;
}
button[type='sale'][disabled] {
	background-color: $disabled-green-color;
}
button[type='sale'][disabled]:active {
	background-color: $disabled-green-color;
}
.button-hover[type='sale'] {
	color: $button-active-text;
	background-color: $active-green-color;
}

button[type='info'] {
	color: white;
	background-color: $button-primary;
}
button[type='info']:active {
	color: $button-active-text;
	background-color: $active-button-primary;
}
button[type='info'][disabled] {
	background-color: $disabled-button-primary;
}
button[type='info'][disabled]:active {
	background-color: $disabled-button-primary;
}
.button-hover[type='info'] {
	color: $button-active-text;
	background-color: $active-button-primary;
}

button[type='wx'] {
	color: white;
	background-color: $wx-green-color;
}
button[type='wx']:active {
	color: $button-active-text;
	background-color: $active-wx-green-color;
}
button[type='wx'][disabled] {
	background-color: $disabled-wx-green-color;
}
button[type='wx'][disabled]:active {
	background-color: $disabled-wx-green-color;
}
.button-hover[type='wx'] {
	color: $button-active-text;
	background-color: $active-wx-green-color;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.fit-parent {
	/* 子元素撑满 */
	display: flex;
	align-items: center;
	align-self: stretch;
	padding: 0 6px;
}
.link {
	color: #295c9d;
	text-decoration: underline;
}

.future-table .uni-table-td, .future-table .uni-table-th {
	font-size: 12px;
}

.future-table .uni-table-tr .uni-table-td, .future-table .uni-table-tr .uni-table-th {
	font-size: 12px;
}

.table-fixed.left .uni-table-td:nth-of-type(1), .table-fixed.left .uni-table-th:nth-of-type(1) {
	left: 0;
	top: 0;
	position: sticky;
	z-index: 1;
	background-color: #ffffff;
}
.table-fixed.right .uni-table-td:last-of-type, .table-fixed.right .uni-table-th:last-of-type {
	right: 0;
	top: 0;
	position: sticky;
	z-index: 1;
	background-color: #ffffff;
}
.table-fixed .uni-table-tr:nth-of-type(1) .uni-table-th {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: #fff;
}
.table-fixed .uni-table-tr:nth-of-type(1) .uni-table-th:nth-of-type(1), .table-fixed .uni-table-tr:nth-of-type(1) .uni-table-th:last-of-type {
	z-index: 3;
}

.mr-12 {
	margin-right: 12px;
}
.ml-12 {
	margin-left: 12px;
}
.mr-6 {
	margin-right: 6px;
}
.ml-6 {
	margin-left: 6px;
}
.mb-8 {
	margin-bottom: 8px;
}

.pl-6 {
	padding-left: 6px;
}
.pr-6 {
	padding-right: 6px;
}
