$base-background-color: #f5f6f7;

$button-active-text: #d9d9d9;

$button-primary: #409eff;
$active-button-primary: #0f85ff;
$disabled-button-primary: #a0cfff;

$red-color: #eb4436;
$active-red-color: #a82f26;
$disabled-red-color: #eb7272;
$green-color: #21a67a;
$active-green-color: #19825f;
$disabled-green-color: #3aa67e;
$wx-green-color: #1aad19;
$active-wx-green-color: #179b16;
$disabled-wx-green-color: #9ed99d;

$mask-color: rgba(0, 0, 0, .4);

$page-padding: 15px;
