$base-background-color: #f5f6f7;

$button-active-text: #d9d9d9;

$button-primary: #409eff;
$disabled-button-primary: #a0cfff;

$red-color: #eb4436;
$active-red-color: #a82f26;
$disabled-red-color: #eb7272;
$green-color: #21a67a;
$active-green-color: #19825f;
$disabled-green-color: #3aa67e;


html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    /* prevent pull-to-refresh for Chrome 63+ */
    overscroll-behavior-y: none;
}

page {
	background-color: #fff;
}

button[type='buy'] {
	color: white;
	background-color: $red-color;
}
button[type='buy']:active {
	color: $button-active-text;
	background-color: $active-red-color;
}
button[type='buy'][disabled] {
	background-color: $disabled-red-color;
}
button[type='buy'][disabled]:active {
	background-color: $disabled-red-color;
}
.button-hover[type='buy'] {
	color: $button-active-text;
	background-color: $active-red-color;
}

button[type='sale'] {
	color: white;
	background-color: $green-color;
}
button[type='sale']:active {
	color: $button-active-text;
	background-color: $active-green-color;
}
button[type='sale'][disabled] {
	background-color: $disabled-green-color;
}
button[type='sale'][disabled]:active {
	background-color: $disabled-green-color;
}
.button-hover[type='sale'] {
	color: $button-active-text;
	background-color: $active-green-color;
}

button[type='primary'] {
	background-color: $button-primary;
}
button[disabled][type='primary'] {
	background-color: $disabled-button-primary;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.alignCenter {
	text-align: center;
}

.alignRight {
	text-align: right;
}

.future-table .uni-table-td, .future-table .uni-table-th {
	font-size: 12px;
}

.table-fixed.left .uni-table-td:nth-of-type(1), .table-fixed.left .uni-table-th:nth-of-type(1) {
	left: 0;
	position: sticky;
	z-index: 1;
	background-color: #ffffff;
}
.table-fixed.right .uni-table-td:last-of-type, .table-fixed.right .uni-table-th:last-of-type {
	right: 0;
	position: sticky;
	z-index: 1;
	background-color: #ffffff;
}

.mr-12 {
	margin-right: 12px;
}
.ml-12 {
	margin-left: 12px;
}
